# Add Git LFS support for common 3D file formats
*.onnx filter=lfs diff=lfs merge=lfs -text
*.stl filter=lfs diff=lfs merge=lfs -text
*.STL filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.dae filter=lfs diff=lfs merge=lfs -text
*.gltf filter=lfs diff=lfs merge=lfs -text
*.glb filter=lfs diff=lfs merge=lfs -text
*.ply filter=lfs diff=lfs merge=lfs -text
*.3ds filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
# Add Git LFS support for large yaml files
src/moveit_pro_franka_configs/franka_arm_sim/objectives/moveitpro_loves_franka.yaml filter=lfs diff=lfs merge=lfs -text
src/moveit_pro_franka_configs/dual_arm_sim/objectives/loves.yaml filter=lfs diff=lfs merge=lfs -text
src/moveit_pro_franka_configs/dual_arm_sim/objectives/moveit_pro.yaml filter=lfs diff=lfs merge=lfs -text
src/moveit_pro_franka_configs/dual_arm_sim/objectives/wipe.yaml filter=lfs diff=lfs merge=lfs -text
src/moveit_pro_franka_configs/franka_dual_arm_hw/objectives/loves.yaml filter=lfs diff=lfs merge=lfs -text
src/moveit_pro_franka_configs/franka_dual_arm_hw/objectives/moveit_pro.yaml filter=lfs diff=lfs merge=lfs -text
src/moveit_pro_franka_configs/franka_dual_arm_hw/objectives/wipe.yaml filter=lfs diff=lfs merge=lfs -text
*.gtlf filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
