[submodule "src/picknik_accessories"]
	path = src/picknik_accessories
	url = https://github.com/PickNikRobotics/picknik_accessories.git
[submodule "src/external_dependencies/trac_ik"]
	path = src/external_dependencies/trac_ik
	url = https://bitbucket.org/traclabs/trac_ik.git
