based_on_package: "picknik_ur_base_config"

hardware:
  simulated: True

  # Update robot description for machine tending world.
  robot_description:
    urdf:
      package: "mock_sim"
      path: "description/picknik_ur_machine_tending.xacro"
    srdf:
      package: "mock_sim"
      path: "config/moveit/picknik_ur_machine_tending.srdf"

objectives:
  waypoints_file:
    package_name: "mock_sim"
    relative_path: "waypoints/machine_tending_waypoints.yaml"
  objective_library_paths:
    # You must use a unique key for each package.
    # The picknik_ur_base_config uses "core"
    mock_hardware_objectives:
      package_name: "mock_sim"
      relative_path: "objectives"

ros2_control:
  config:
    package: "mock_sim"
    path: "config/control/picknik_ur.ros2_control.yaml"
  # MoveIt Pro will load and activate these controllers at start up to ensure they are available.
  # If not specified, it is up to the user to ensure the appropriate controllers are active and available
  # for running the application.
  # [Optional, default=[]]
  controllers_active_at_startup:
    - "robotiq_gripper_controller"
    - "joint_state_broadcaster"
    - "io_and_status_controller"
    - "robotiq_activation_controller"
  # Load but do not start these controllers so they can be activated later if needed.
  # [Optional, default=[]]
  controllers_inactive_at_startup:
    - "joint_trajectory_controller"
    - "joint_trajectory_admittance_controller"
    - "velocity_force_controller"
    - "joint_velocity_controller"
  # Any controllers here will not be spawned by MoveIt Pro.
  # [Optional, default=[]]
  controllers_not_managed: []
  # Optionally configure remapping rules to let multiple controllers receive commands on the same topic.
  # [Optional, default=[]]
  controller_shared_topics: []
