controller_manager:
  ros__parameters:
    update_rate: 100  # Hz
    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster
    first_io_and_status_controller:
      type: ur_controllers/GPIOController
    second_io_and_status_controller:
      type: ur_controllers/GPIOController
    third_io_and_status_controller:
      type: ur_controllers/GPIOController
    fourth_io_and_status_controller:
      type: ur_controllers/GPIOController
    joint_trajectory_controller:
      type: joint_trajectory_controller/JointTrajectoryController
    joint_trajectory_admittance_controller:
      type: joint_trajectory_admittance_controller/JointTrajectoryAdmittanceController
    first_robotiq_gripper_controller:
      type: position_controllers/GripperActionController
    second_robotiq_gripper_controller:
      type: position_controllers/GripperActionController
    third_robotiq_gripper_controller:
      type: position_controllers/GripperActionController
    fourth_robotiq_gripper_controller:
      type: position_controllers/GripperActionController
    first_velocity_force_controller:
      type: velocity_force_controller/VelocityForceController
    second_velocity_force_controller:
      type: velocity_force_controller/VelocityForceController
    third_velocity_force_controller:
      type: velocity_force_controller/VelocityForceController
    fourth_velocity_force_controller:
      type: velocity_force_controller/VelocityForceController
    first_joint_velocity_controller:
      type: joint_velocity_controller/JointVelocityController
    second_joint_velocity_controller:
      type: joint_velocity_controller/JointVelocityController
    third_joint_velocity_controller:
      type: joint_velocity_controller/JointVelocityController
    fourth_joint_velocity_controller:
      type: joint_velocity_controller/JointVelocityController

first_io_and_status_controller:
  ros__parameters:
    tf_prefix: "first_"

second_io_and_status_controller:
  ros__parameters:
    tf_prefix: "second_"

third_io_and_status_controller:
  ros__parameters:
    tf_prefix: "third_"

fourth_io_and_status_controller:
  ros__parameters:
    tf_prefix: "fourth_"

joint_trajectory_controller:
  ros__parameters:
    joints:
      - first_shoulder_pan_joint
      - first_shoulder_lift_joint
      - first_elbow_joint
      - first_wrist_1_joint
      - first_wrist_2_joint
      - first_wrist_3_joint
      - second_shoulder_pan_joint
      - second_shoulder_lift_joint
      - second_elbow_joint
      - second_wrist_1_joint
      - second_wrist_2_joint
      - second_wrist_3_joint
      - third_shoulder_pan_joint
      - third_shoulder_lift_joint
      - third_elbow_joint
      - third_wrist_1_joint
      - third_wrist_2_joint
      - third_wrist_3_joint
      - fourth_shoulder_pan_joint
      - fourth_shoulder_lift_joint
      - fourth_elbow_joint
      - fourth_wrist_1_joint
      - fourth_wrist_2_joint
      - fourth_wrist_3_joint
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity
    command_joints:
      - first_shoulder_pan_joint
      - first_shoulder_lift_joint
      - first_elbow_joint
      - first_wrist_1_joint
      - first_wrist_2_joint
      - first_wrist_3_joint
      - second_shoulder_pan_joint
      - second_shoulder_lift_joint
      - second_elbow_joint
      - second_wrist_1_joint
      - second_wrist_2_joint
      - second_wrist_3_joint
      - third_shoulder_pan_joint
      - third_shoulder_lift_joint
      - third_elbow_joint
      - third_wrist_1_joint
      - third_wrist_2_joint
      - third_wrist_3_joint
      - fourth_shoulder_pan_joint
      - fourth_shoulder_lift_joint
      - fourth_elbow_joint
      - fourth_wrist_1_joint
      - fourth_wrist_2_joint
      - fourth_wrist_3_joint
    state_publish_rate: 100.0
    action_monitor_rate: 20.0
    allow_partial_joints_goal: true
    constraints:
      stopped_velocity_tolerance: 0.0
      goal_time: 0.0
      first_shoulder_pan_joint:
        goal: 0.05
      first_shoulder_lift_joint:
        goal: 0.05
      first_elbow_joint:
        goal: 0.05
      first_wrist_1_joint:
        goal: 0.05
      first_wrist_2_joint:
        goal: 0.05
      first_wrist_3_joint:
        goal: 0.05
      second_shoulder_pan_joint:
        goal: 0.05
      second_shoulder_lift_joint:
        goal: 0.05
      second_elbow_joint:
        goal: 0.05
      second_wrist_1_joint:
        goal: 0.05
      second_wrist_2_joint:
        goal: 0.05
      second_wrist_3_joint:
        goal: 0.05
      third_shoulder_pan_joint:
        goal: 0.05
      third_shoulder_lift_joint:
        goal: 0.05
      third_elbow_joint:
        goal: 0.05
      third_wrist_1_joint:
        goal: 0.05
      third_wrist_2_joint:
        goal: 0.05
      third_wrist_3_joint:
        goal: 0.05
      fourth_shoulder_pan_joint:
        goal: 0.05
      fourth_shoulder_lift_joint:
        goal: 0.05
      fourth_elbow_joint:
        goal: 0.05
      fourth_wrist_1_joint:
        goal: 0.05
      fourth_wrist_2_joint:
        goal: 0.05
      fourth_wrist_3_joint:
        goal: 0.05

joint_trajectory_admittance_controller:
  ros__parameters:
    planning_group_name: manipulator
    # Specifies the frame/link name of the end-effector frame. Must exist in the robot description.
    ee_frame: first_grasp_link
    sensor_frame: first_grasp_link
    # Joint accelerations to use for immediate stops (e.g. when cancelling a running trajectory).
    stop_accelerations: [30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0]
    # Default maximum joint-space deviation accepted along the trajectory, if not specified in the goal message.
    default_path_tolerance: 0.5

first_robotiq_gripper_controller:
  ros__parameters:
    default: true
    joint: first_robotiq_85_left_knuckle_joint
    allow_stalling: true
    stall_timeout: 0.05
    goal_tolerance: 0.02

second_robotiq_gripper_controller:
  ros__parameters:
    default: true
    joint: second_robotiq_85_left_knuckle_joint
    allow_stalling: true
    stall_timeout: 0.05
    goal_tolerance: 0.02

third_robotiq_gripper_controller:
  ros__parameters:
    default: true
    joint: third_robotiq_85_left_knuckle_joint
    allow_stalling: true
    stall_timeout: 0.05
    goal_tolerance: 0.02

fourth_robotiq_gripper_controller:
  ros__parameters:
    default: true
    joint: fourth_robotiq_85_left_knuckle_joint
    allow_stalling: true
    stall_timeout: 0.05
    goal_tolerance: 0.02

first_velocity_force_controller:
  ros__parameters:
    # Joint group to control.
    planning_group_name: first_manipulator
    # The tip link of the kinematic chain, i.e. the frame that will be controlled.
    ee_frame: first_grasp_link
    # The frame where the force / torque sensor reading is given.
    # (Needs to exist in the kinematic chain).
    sensor_frame: first_grasp_link
    # The force/torque ros2_control hardware interface name.
    # An optional deadband to apply to the force/torque signal. Set to 0.0 to disable.
    ft_force_deadband: 2.0
    ft_torque_deadband: 1.0
    # Maximum joint-space velocities.
    max_joint_velocity:
      - 1.0
      - 1.0
      - 1.0
      - 1.0
      - 1.0
      - 1.0
    # Maximum joint-space accelerations.
    max_joint_acceleration:
      - 2.0
      - 2.0
      - 2.0
      - 2.0
      - 2.0
      - 2.0
    # Maximum Cartesian-space velocities.
    max_cartesian_velocity:
      - 0.25
      - 0.25
      - 0.25
      - 1.0
      - 1.0
      - 1.0
    # Maximum Cartesian-space accelerations.
    max_cartesian_acceleration:
      - 2.0
      - 2.0
      - 2.0
      - 4.0
      - 4.0
      - 4.0
    # Additional optional parameters for reference (set to defaults):
    # Cutoff frequency ratio for the FTS filter. Valid values range from 0 to 1, where 1 is the sampling frequency.
    ft_cutoff_frequency_ratio: 1.0
    # Rate in Hz at which the controller will publish the state.
    state_publish_rate: 10
    # Damping coefficient for the Jacobian damped least-squares inverse.
    jacobian_damping: 0.002
    # Timeout in seconds after which the controller will stop motion if no new commands are received.
    command_timeout: 0.2
    # Padding (in radians) to add to joint position limits as a safety margin.
    joint_limit_position_tolerance: 0.02


second_velocity_force_controller:
  ros__parameters:
    # Joint group to control.
    planning_group_name: second_manipulator
    # The tip link of the kinematic chain, i.e. the frame that will be controlled.
    ee_frame: second_grasp_link
    # The frame where the force / torque sensor reading is given.
    # (Needs to exist in the kinematic chain).
    sensor_frame: second_grasp_link
    # The force/torque ros2_control hardware interface name.
    # An optional deadband to apply to the force/torque signal. Set to 0.0 to disable.
    ft_force_deadband: 2.0
    ft_torque_deadband: 1.0
    # Maximum joint-space velocities.
    max_joint_velocity:
      - 1.0
      - 1.0
      - 1.0
      - 1.0
      - 1.0
      - 1.0
    # Maximum joint-space accelerations.
    max_joint_acceleration:
      - 2.0
      - 2.0
      - 2.0
      - 2.0
      - 2.0
      - 2.0
    # Maximum Cartesian-space velocities.
    max_cartesian_velocity:
      - 0.25
      - 0.25
      - 0.25
      - 1.0
      - 1.0
      - 1.0
    # Maximum Cartesian-space accelerations.
    max_cartesian_acceleration:
      - 2.0
      - 2.0
      - 2.0
      - 4.0
      - 4.0
      - 4.0
    # Additional optional parameters for reference (set to defaults):
    # Cutoff frequency ratio for the FTS filter. Valid values range from 0 to 1, where 1 is the sampling frequency.
    ft_cutoff_frequency_ratio: 1.0
    # Rate in Hz at which the controller will publish the state.
    state_publish_rate: 10
    # Damping coefficient for the Jacobian damped least-squares inverse.
    jacobian_damping: 0.002
    # Timeout in seconds after which the controller will stop motion if no new commands are received.
    command_timeout: 0.2
    # Padding (in radians) to add to joint position limits as a safety margin.
    joint_limit_position_tolerance: 0.02


third_velocity_force_controller:
  ros__parameters:
    # Joint group to control.
    planning_group_name: third_manipulator
    # The tip link of the kinematic chain, i.e. the frame that will be controlled.
    ee_frame: third_grasp_link
    # The frame where the force / torque sensor reading is given.
    # (Needs to exist in the kinematic chain).
    sensor_frame: third_grasp_link
    # The force/torque ros2_control hardware interface name.
    # An optional deadband to apply to the force/torque signal. Set to 0.0 to disable.
    ft_force_deadband: 2.0
    ft_torque_deadband: 1.0
    # Maximum joint-space velocities.
    max_joint_velocity:
      - 1.0
      - 1.0
      - 1.0
      - 1.0
      - 1.0
      - 1.0
    # Maximum joint-space accelerations.
    max_joint_acceleration:
      - 2.0
      - 2.0
      - 2.0
      - 2.0
      - 2.0
      - 2.0
    # Maximum Cartesian-space velocities.
    max_cartesian_velocity:
      - 0.25
      - 0.25
      - 0.25
      - 1.0
      - 1.0
      - 1.0
    # Maximum Cartesian-space accelerations.
    max_cartesian_acceleration:
      - 2.0
      - 2.0
      - 2.0
      - 4.0
      - 4.0
      - 4.0
    # Additional optional parameters for reference (set to defaults):
    # Cutoff frequency ratio for the FTS filter. Valid values range from 0 to 1, where 1 is the sampling frequency.
    ft_cutoff_frequency_ratio: 1.0
    # Rate in Hz at which the controller will publish the state.
    state_publish_rate: 10
    # Damping coefficient for the Jacobian damped least-squares inverse.
    jacobian_damping: 0.002
    # Timeout in seconds after which the controller will stop motion if no new commands are received.
    command_timeout: 0.2
    # Padding (in radians) to add to joint position limits as a safety margin.
    joint_limit_position_tolerance: 0.02

fourth_velocity_force_controller:
  ros__parameters:
    # Joint group to control.
    planning_group_name: fourth_manipulator
    # The tip link of the kinematic chain, i.e. the frame that will be controlled.
    ee_frame: fourth_grasp_link
    # The frame where the force / torque sensor reading is given.
    # (Needs to exist in the kinematic chain).
    sensor_frame: fourth_grasp_link
    # The force/torque ros2_control hardware interface name.
    # An optional deadband to apply to the force/torque signal. Set to 0.0 to disable.
    ft_force_deadband: 2.0
    ft_torque_deadband: 1.0
    # Maximum joint-space velocities.
    max_joint_velocity:
      - 1.0
      - 1.0
      - 1.0
      - 1.0
      - 1.0
      - 1.0
    # Maximum joint-space accelerations.
    max_joint_acceleration:
      - 2.0
      - 2.0
      - 2.0
      - 2.0
      - 2.0
      - 2.0
    # Maximum Cartesian-space velocities.
    max_cartesian_velocity:
      - 0.25
      - 0.25
      - 0.25
      - 1.0
      - 1.0
      - 1.0
    # Maximum Cartesian-space accelerations.
    max_cartesian_acceleration:
      - 2.0
      - 2.0
      - 2.0
      - 4.0
      - 4.0
      - 4.0
    # Additional optional parameters for reference (set to defaults):
    # Cutoff frequency ratio for the FTS filter. Valid values range from 0 to 1, where 1 is the sampling frequency.
    ft_cutoff_frequency_ratio: 1.0
    # Rate in Hz at which the controller will publish the state.
    state_publish_rate: 10
    # Damping coefficient for the Jacobian damped least-squares inverse.
    jacobian_damping: 0.002
    # Timeout in seconds after which the controller will stop motion if no new commands are received.
    command_timeout: 0.2
    # Padding (in radians) to add to joint position limits as a safety margin.
    joint_limit_position_tolerance: 0.02

first_joint_velocity_controller:
  ros__parameters:
    # Joint group to control.
    planning_group_name: first_manipulator
    # Maximum joint-space velocities.
    max_joint_velocity:
      - 1.0
      - 1.0
      - 1.0
      - 1.0
      - 1.0
      - 1.0
    # Maximum joint-space accelerations.
    max_joint_acceleration:
      - 2.0
      - 2.0
      - 2.0
      - 2.0
      - 2.0
      - 2.0
    command_interfaces: ["position"]
    # Padding (in radians) to add to joint position limits as a safety margin.
    joint_limit_position_tolerance: 0.02
    # Timeout in seconds after which the controller will stop motion if no new commands are received.
    command_timeout: 0.2
    # Rate in Hz at which the controller will publish the state.
    state_publish_rate: 20

second_joint_velocity_controller:
  ros__parameters:
    # Joint group to control.
    planning_group_name: second_manipulator
    # Maximum joint-space velocities.
    max_joint_velocity:
      - 1.0
      - 1.0
      - 1.0
      - 1.0
      - 1.0
      - 1.0
    # Maximum joint-space accelerations.
    max_joint_acceleration:
      - 2.0
      - 2.0
      - 2.0
      - 2.0
      - 2.0
      - 2.0
    command_interfaces: ["position"]
    # Padding (in radians) to add to joint position limits as a safety margin.
    joint_limit_position_tolerance: 0.02
    # Timeout in seconds after which the controller will stop motion if no new commands are received.
    command_timeout: 0.2
    # Rate in Hz at which the controller will publish the state.
    state_publish_rate: 20

third_joint_velocity_controller:
  ros__parameters:
    # Joint group to control.
    planning_group_name: third_manipulator
    # Maximum joint-space velocities.
    max_joint_velocity:
      - 1.0
      - 1.0
      - 1.0
      - 1.0
      - 1.0
      - 1.0
    # Maximum joint-space accelerations.
    max_joint_acceleration:
      - 2.0
      - 2.0
      - 2.0
      - 2.0
      - 2.0
      - 2.0
    command_interfaces: ["position"]
    # Padding (in radians) to add to joint position limits as a safety margin.
    joint_limit_position_tolerance: 0.02
    # Timeout in seconds after which the controller will stop motion if no new commands are received.
    command_timeout: 0.2
    # Rate in Hz at which the controller will publish the state.
    state_publish_rate: 20

fourth_joint_velocity_controller:
  ros__parameters:
    # Joint group to control.
    planning_group_name: fourth_manipulator
    # Maximum joint-space velocities.
    max_joint_velocity:
      - 1.0
      - 1.0
      - 1.0
      - 1.0
      - 1.0
      - 1.0
    # Maximum joint-space accelerations.
    max_joint_acceleration:
      - 2.0
      - 2.0
      - 2.0
      - 2.0
      - 2.0
      - 2.0
    command_interfaces: ["position"]
    # Padding (in radians) to add to joint position limits as a safety margin.
    joint_limit_position_tolerance: 0.02
    # Timeout in seconds after which the controller will stop motion if no new commands are received.
    command_timeout: 0.2
    # Rate in Hz at which the controller will publish the state.
    state_publish_rate: 20
