controller_manager:
  ros__parameters:
    update_rate: 600  # Hz
    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster
    joint_trajectory_admittance_controller:
      type: joint_trajectory_admittance_controller/JointTrajectoryAdmittanceController
    velocity_force_controller:
      type: velocity_force_controller/VelocityForceController
    joint_velocity_controller:
      type: joint_velocity_controller/JointVelocityController


joint_state_broadcaster:
  ros__parameters:
    use_local_topics: false
    joints:
      - shoulder_pan_joint
      - shoulder_lift_joint
      - elbow_joint
      - wrist_1_joint
      - wrist_2_joint
      - wrist_3_joint
      - tool_slide_joint
    interfaces:
      - position
      - velocity
      - effort

joint_trajectory_admittance_controller:
  ros__parameters:
    # Joint group to control.
    planning_group_name: manipulator
    # Specifies the frame/link name of the force torque sensor. Must exist in the robot description.
    sensor_frame: tool0
    # Specifies the frame/link name of the end-effector frame. Must exist in the robot description.
    ee_frame: grasp_link
    # The name of the force/torque ros2_control hardware interface which will be used in the admittance calculation.
    # If empty, the controller will run without admittance.
    ft_sensor_name: ""
    # Joint accelerations to use for immediate stops (e.g. when cancelling a running trajectory).
    # Chosen to match MoveIt configs.
    stop_accelerations: [30.0, 30.0, 30.0, 30.0, 30.0, 30.0]
    # The ratio of the cutoff frequency to the sampling frequency. Valid values range
    # from 0 to 1, where 1 is the sampling frequency. By default, this is set to 1.0, which means no filtering is
    # applied.
    ft_cutoff_frequency_ratio: 1.0
    # The deadband threshold for the force / torque measurements in Newtons and Newtons-meter. By default, these are set
    # to 0.0. Increase these values if the force readings from your force torque sensor are noisy and cause linear /
    # rotational motion along the FTS axes when the admittance controller is activated.
    ft_force_deadband: 0.0
    ft_torque_deadband: 0.0
    # The rate in Hz at which the controller will publish the state. By default, this is set to 50 Hz.
    state_publish_rate: 50
    # The damping coefficient for the Jacobian damped least-squares inverse. By default, this value is set to 0.01.
    # Increase this value if your robot moves too quickly while admittance control is active when it nears singularities.
    jacobian_damping: 0.01
    # The gravity vector in the base frame. By default, this is set to [0.0, 0.0, -9.8]. This value is used to calculate
    # the gravity compensation torque. If your robot is not in the same orientation as the base frame, you should
    # provide the gravity vector in the base frame.
    gravity_vector: [0.0, 0.0, -9.8]
    # Default maximum joint-space deviation accepted along the trajectory, if not specified in the goal message.
    default_path_tolerance: 0.05
    # Default maximum joint-space deviation accepted at the trajectory end-point, if not specified in the goal message.
    default_goal_tolerance: 0.05
    # Default maximum absolute force torque readings allowed from the force torque sensor along each Cartesian space
    # axis, if not specified in the goal message. If exceeded, execution will abort.
    default_absolute_force_torque_threshold: [45.0, 45.0, 45.0, 10.0, 10.0, 10.0]

velocity_force_controller:
  ros__parameters:
    # Joint group to control.
    planning_group_name: manipulator
    # The tip link of the kinematic chain, i.e. the frame that will be controlled.
    ee_frame: grasp_link
    sensor_frame: grasp_link
    # Maximum joint-space velocities.
    max_joint_velocity:
      - 1.0
      - 1.0
      - 1.0
      - 1.0
      - 1.0
      - 1.0
    # Maximum joint-space accelerations.
    max_joint_acceleration:
      - 2.0
      - 2.0
      - 2.0
      - 2.0
      - 2.0
      - 2.0
    # Maximum Cartesian-space velocities.
    max_cartesian_velocity:
      - 0.25
      - 0.25
      - 0.25
      - 1.0
      - 1.0
      - 1.0
    # Maximum Cartesian-space accelerations.
    max_cartesian_acceleration:
      - 2.0
      - 2.0
      - 2.0
      - 4.0
      - 4.0
      - 4.0
    # Rate in Hz at which the controller will publish the state.
    state_publish_rate: 10
    # Damping coefficient for the Jacobian damped least-squares inverse.
    jacobian_damping: 0.005
    # Timeout in seconds after which the controller will stop motion if no new commands are received.
    command_timeout: 0.2
    # Padding (in radians) to add to joint position limits as a safety margin.
    joint_limit_position_tolerance: 0.02

joint_velocity_controller:
  ros__parameters:
    # Joint group to control.
    planning_group_name: manipulator
    # Maximum joint-space velocities.
    max_joint_velocity:
      - 1.0
      - 1.0
      - 1.0
      - 1.0
      - 1.0
      - 1.0
    # Maximum joint-space accelerations.
    max_joint_acceleration:
      - 2.0
      - 2.0
      - 2.0
      - 2.0
      - 2.0
      - 2.0
    command_interfaces: ["position"]
    # Padding (in radians) to add to joint position limits as a safety margin.
    joint_limit_position_tolerance: 0.02
    # Timeout in seconds after which the controller will stop motion if no new commands are received.
    command_timeout: 0.2
    # Rate in Hz at which the controller will publish the state.
    state_publish_rate: 20
