<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kr16">
  <xacro:arg name="mujoco_model" default="description/scene.xml" />
  <xacro:arg name="mujoco_viewer" default="false" />

  <!-- Import kr16 urdf file -->
  <xacro:arg name="use_fake_hardware" default="true" />
  <xacro:include filename="$(find kuka_cybertech_support)/urdf/kr16_r2010_2.urdf.xacro" />


  <ros2_control name="mujoco_control" type="system">
    <hardware>
      <plugin>picknik_mujoco_ros/MujocoSystem</plugin>
      <param name="mujoco_model">$(arg mujoco_model)</param>
      <param name="mujoco_model_package">kr-16</param>
      <!-- The rate <camera> data is published at -->
      <param name="render_publish_rate">10</param>
      <!-- The rate transforms to <site> poses are published at -->
      <param name="tf_publish_rate">60</param>
      <!-- The rate <rangefinder> data is published at -->
      <param name="lidar_publish_rate">10</param>
      <!-- Whether to launch the MuJoCo interactive viewer -->
      <param name="mujoco_viewer">$(arg mujoco_viewer)</param>
    </hardware>
  </ros2_control>
</robot>
