<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kr16">
  <xacro:arg name="mujoco_model" default="description/scene.xml" />
  <xacro:arg name="mujoco_viewer" default="false" />

  <!-- Import kr16 urdf file -->
  <xacro:arg name="use_fake_hardware" default="true" />
  <xacro:arg
    name="initial_positions_file"
    default="$(find moveit_pro_kr16)/config/initial_positions.yaml"
  />
  <xacro:include filename="$(find moveit_pro_kr16)/description/kr16_r2010_2.urdf.xacro" />
  <link name="grasp_link"/>
  <joint name="grasp_link_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
    <parent link="link_6"/>
    <child link="grasp_link"/>
  </joint>
</robot>
