<?xml version="1.0" ?>
<robot name="crx10ia" xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:arg name="robot_ip" default="$(arg robot_ip)"/>
  <xacro:arg name="rmi_port" default="16001"/>
  <xacro:arg name="stream_motion_port" default="60015"/>
  <xacro:arg name="io_configuration" default=""/>
  <xacro:arg name="payload_schedule" default="1"/>

  <xacro:include filename="$(find fanuc_crx_description)/urdf/crx10ia_macro.xacro"/>
  <xacro:include filename="$(find fanuc_hardware_interface)/robot/fanuc_control.xacro"/>

  <link name="world"/>
  <link name="grasp_link"/>
  <xacro:crx10ia parent="world" child="grasp_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:crx10ia>

  <xacro:fanuc_control name="crx10ia"/>
</robot>
