<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="franka">
  <xacro:arg name="mujoco_model" default="description/mujoco/scene.xml" />
  <xacro:arg name="ee_id" default="franka_hand" />
  <xacro:arg name="rpy_ee" default="0 0 -0.785" />

  <!-- Load Franka Duo Mount -->
  <xacro:include filename="$(find franka_description)/robots/fr3_duo/fr3_duo_mount/fr3_duo_mount.xacro"/>
  <xacro:property name="mount_kinematics" value="${xacro.load_yaml('$(find franka_description)/robots/fr3_duo/fr3_duo_mount/kinematics.yaml')}" />

  <!-- Load Franka robot -->
  <xacro:include filename="$(find franka_description)/robots/common/franka_robot.xacro"/>

  <link name="world" />

  <xacro:mount name="fr3_duo" 
               parent="world"
               inertials="${xacro.load_yaml('$(find franka_description)/robots/fr3_duo/fr3_duo_mount/inertials.yaml')}">
    <origin xyz="0.0 0.0 0.305115" rpy="0 0 0" />
  </xacro:mount>

  <joint name="right_mount_joint" type="fixed">
     <parent link="mount_link"/>
     <child link = "right_mount"/>
     <origin xyz="${mount_kinematics['right']['kinematic']['x']} ${mount_kinematics['right']['kinematic']['y']} ${mount_kinematics['right']['kinematic']['z']}" 
             rpy="${mount_kinematics['right']['kinematic']['roll']} ${mount_kinematics['right']['kinematic']['pitch']} ${mount_kinematics['right']['kinematic']['yaw']}"/>
  </joint>

  <xacro:franka_robot robot_type="fr3"
                      joint_limits="${xacro.load_yaml('$(find franka_description)/robots/fr3/joint_limits.yaml')}"
                      inertials="${xacro.load_yaml('$(find franka_description)/robots/fr3/inertials.yaml')}"
                      kinematics="${xacro.load_yaml('$(find franka_description)/robots/fr3/kinematics.yaml')}"
                      dynamics="${xacro.load_yaml('$(find franka_description)/robots/fr3/dynamics.yaml')}"
                      gazebo="false"
                      hand="true"
                      tcp_xyz="0 0 0.1034"
                      ee_id="$(arg ee_id)"
                      with_sc="false"
                      ros2_control="false"
                      robot_ip=""
                      use_fake_hardware="false"
                      fake_sensor_commands="false"
                      gazebo_effort="false"
                      no_prefix="false"
                      arm_prefix="right_"
                      connected_to= "right_mount"> <!-- This also creates the link right_mount -->
  </xacro:franka_robot>

  <!-- This link aligns the axes of the grasp frame to our required convention for motion planning tasks. -->
  <link name="right_grasp_link" />
  <joint name="right_grasp_link_joint" type="fixed">
     <parent link="right_fr3_hand_tcp"/>
     <child link = "right_grasp_link"/>
     <origin xyz="0 0 0" rpy="0 0 -1.5708"/>
  </joint>

  <joint name="left_mount_joint" type="fixed">
     <parent link="mount_link"/>
     <child link = "left_mount"/>
     <origin xyz="${mount_kinematics['left']['kinematic']['x']} ${mount_kinematics['left']['kinematic']['y']} ${mount_kinematics['left']['kinematic']['z']}" 
             rpy="${mount_kinematics['left']['kinematic']['roll']} ${mount_kinematics['left']['kinematic']['pitch']} ${mount_kinematics['left']['kinematic']['yaw']}"/>
  </joint>

  <xacro:franka_robot robot_type="fr3"
                      joint_limits="${xacro.load_yaml('$(find franka_description)/robots/fr3/joint_limits.yaml')}"
                      inertials="${xacro.load_yaml('$(find franka_description)/robots/fr3/inertials.yaml')}"
                      kinematics="${xacro.load_yaml('$(find franka_description)/robots/fr3/kinematics.yaml')}"
                      dynamics="${xacro.load_yaml('$(find franka_description)/robots/fr3/dynamics.yaml')}"
                      gazebo="false"
                      hand="true"
                      tcp_xyz="0 0 0.1034"
                      ee_id="$(arg ee_id)"
                      with_sc="false"
                      ros2_control="false"
                      robot_ip=""
                      use_fake_hardware="false"
                      fake_sensor_commands="false"
                      gazebo_effort="false"
                      no_prefix="false"
                      arm_prefix="left_"
                      connected_to= "left_mount"> <!-- This also creates the link left_mount -->
  </xacro:franka_robot>
  
   <!-- This link aligns the axes of the grasp frame to our required convention for motion planning tasks. -->
   <link name="left_grasp_link" />
   <joint name="left_grasp_link_joint" type="fixed">
      <parent link="left_fr3_hand_tcp"/>
      <child link = "left_grasp_link"/>
      <origin xyz="0 0 0" rpy="0 0 -1.5708"/>
    </joint>

    <ros2_control name="franka_mujoco_simulation" type="system">
      <joint name="right_fr3_joint1">
        <command_interface name="position">
          <param name="min">-2.8973</param>
          <param name="max">2.8973</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="right_fr3_joint2">
        <command_interface name="position">
          <param name="min">-1.7628</param>
          <param name="max">1.7628</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">-0.7854</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="right_fr3_joint3">
        <command_interface name="position">
          <param name="min">-2.8973</param>
          <param name="max">2.8973</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="right_fr3_joint4">
        <command_interface name="position">
          <param name="min">-3.0718</param>
          <param name="max">-0.0698</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">-2.3562</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="right_fr3_joint5">
        <command_interface name="position">
          <param name="min">-2.8973</param>
          <param name="max">2.8973</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="right_fr3_joint6">
        <command_interface name="position">
          <param name="min">-0.0175</param>
          <param name="max">3.7525</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">1.5707</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="right_fr3_joint7">
        <command_interface name="position">
          <param name="min">-2.8973</param>
          <param name="max">2.8973</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.7853</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="right_fr3_finger_joint1">
        <command_interface name="position">
          <param name="min">-0.0</param>
          <param name="max">0.04</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.035</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="left_fr3_joint1">
        <command_interface name="position">
          <param name="min">-2.8973</param>
          <param name="max">2.8973</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="left_fr3_joint2">
        <command_interface name="position">
          <param name="min">-1.7628</param>
          <param name="max">1.7628</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">-0.7854</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="left_fr3_joint3">
        <command_interface name="position">
          <param name="min">-2.8973</param>
          <param name="max">2.8973</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="left_fr3_joint4">
        <command_interface name="position">
          <param name="min">-3.0718</param>
          <param name="max">-0.0698</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">-2.3562</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="left_fr3_joint5">
        <command_interface name="position">
          <param name="min">-2.8973</param>
          <param name="max">2.8973</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="left_fr3_joint6">
        <command_interface name="position">
          <param name="min">-0.0175</param>
          <param name="max">3.7525</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">1.5707</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="left_fr3_joint7">
        <command_interface name="position">
          <param name="min">-2.8973</param>
          <param name="max">2.8973</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.7853</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="left_fr3_finger_joint1">
        <command_interface name="position">
          <param name="min">-0.0</param>
          <param name="max">0.04</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.035</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <hardware>
        <plugin>picknik_mujoco_ros/MujocoSystem</plugin>
        <param name="mujoco_model">$(arg mujoco_model)</param>
        <param name="mujoco_model_package">dual_arm_sim</param>
        <param name="render_publish_rate">10</param>
        <param name="tf_publish_rate">60</param>
        <param name="mujoco_keyframe">default</param>
        <param name="mujoco_viewer">$(arg mujoco_viewer)</param>
      </hardware>
    </ros2_control>
</robot>
