<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="franka">
  <xacro:arg name="mujoco_model" default="description/mujoco/scene.xml" />
  <xacro:arg name="ee_id" default="franka_hand" />
  <xacro:arg name="rpy_ee" default="0 0 -0.785" />

  <!-- Load Franka Duo Mount (franka_description 2.9.0 accessory) -->
  <xacro:include filename="$(find franka_description)/accessories/fr3_duo_mount_v0_3/fr3_duo_mount.xacro"/>

  <!-- Load Franka robot -->
  <xacro:include filename="$(find franka_description)/robots/common/franka_robot.xacro"/>

  <link name="world" />

  <!-- The mount macro attaches with an identity joint, so the pedestal height goes on this link. -->
  <link name="mount_base" />
  <joint name="mount_base_joint" type="fixed">
     <parent link="world"/>
     <child link="mount_base"/>
     <origin xyz="0.0 0.0 0.305115" rpy="0 0 0" />
  </joint>

  <xacro:mount name="fr3_duo" parent="mount_base" left_prefix="left" right_prefix="right" />

  <joint name="right_mount_joint" type="fixed">
     <parent link="fr3_duo_mount_right"/>
     <child link = "right_mount"/>
  </joint>

  <xacro:franka_robot robot_type="fr3"
                      hand="true"
                      tcp_xyz="0 0 0.1034"
                      ee_id="$(arg ee_id)"
                      rpy_ee="$(arg rpy_ee)"
                      with_sc="false"
                      no_prefix="false"
                      arm_prefix="right_"
                      connected_to= "right_mount"> <!-- This also creates the link right_mount -->
  </xacro:franka_robot>

  <!-- This link aligns the axes of the grasp frame to our required convention for motion planning tasks. -->
  <link name="right_grasp_link" />
  <joint name="right_grasp_link_joint" type="fixed">
     <parent link="right_fr3_hand_tcp"/>
     <child link = "right_grasp_link"/>
     <origin xyz="0 0 0" rpy="0 0 -1.5708"/>
  </joint>

  <joint name="left_mount_joint" type="fixed">
     <parent link="fr3_duo_mount_left"/>
     <child link = "left_mount"/>
  </joint>

  <xacro:franka_robot robot_type="fr3"
                      hand="true"
                      tcp_xyz="0 0 0.1034"
                      ee_id="$(arg ee_id)"
                      rpy_ee="$(arg rpy_ee)"
                      with_sc="false"
                      no_prefix="false"
                      arm_prefix="left_"
                      connected_to= "left_mount"> <!-- This also creates the link left_mount -->
  </xacro:franka_robot>
  
   <!-- This link aligns the axes of the grasp frame to our required convention for motion planning tasks. -->
   <link name="left_grasp_link" />
   <joint name="left_grasp_link_joint" type="fixed">
      <parent link="left_fr3_hand_tcp"/>
      <child link = "left_grasp_link"/>
      <origin xyz="0 0 0" rpy="0 0 -1.5708"/>
    </joint>

    <ros2_control name="franka_mujoco_simulation" type="system">
      <joint name="right_fr3_joint1">
        <command_interface name="position">
          <param name="min">-2.8973</param>
          <param name="max">2.8973</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="right_fr3_joint2">
        <command_interface name="position">
          <param name="min">-1.7628</param>
          <param name="max">1.7628</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">-0.7854</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="right_fr3_joint3">
        <command_interface name="position">
          <param name="min">-2.8973</param>
          <param name="max">2.8973</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="right_fr3_joint4">
        <command_interface name="position">
          <param name="min">-3.0718</param>
          <param name="max">-0.0698</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">-2.3562</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="right_fr3_joint5">
        <command_interface name="position">
          <param name="min">-2.8973</param>
          <param name="max">2.8973</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="right_fr3_joint6">
        <command_interface name="position">
          <param name="min">-0.0175</param>
          <param name="max">3.7525</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">1.5707</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="right_fr3_joint7">
        <command_interface name="position">
          <param name="min">-2.8973</param>
          <param name="max">2.8973</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.7853</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="right_fr3_finger_joint1">
        <command_interface name="position">
          <param name="min">-0.0</param>
          <param name="max">0.04</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.035</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="left_fr3_joint1">
        <command_interface name="position">
          <param name="min">-2.8973</param>
          <param name="max">2.8973</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="left_fr3_joint2">
        <command_interface name="position">
          <param name="min">-1.7628</param>
          <param name="max">1.7628</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">-0.7854</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="left_fr3_joint3">
        <command_interface name="position">
          <param name="min">-2.8973</param>
          <param name="max">2.8973</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="left_fr3_joint4">
        <command_interface name="position">
          <param name="min">-3.0718</param>
          <param name="max">-0.0698</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">-2.3562</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="left_fr3_joint5">
        <command_interface name="position">
          <param name="min">-2.8973</param>
          <param name="max">2.8973</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="left_fr3_joint6">
        <command_interface name="position">
          <param name="min">-0.0175</param>
          <param name="max">3.7525</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">1.5707</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="left_fr3_joint7">
        <command_interface name="position">
          <param name="min">-2.8973</param>
          <param name="max">2.8973</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.7853</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="left_fr3_finger_joint1">
        <command_interface name="position">
          <param name="min">-0.0</param>
          <param name="max">0.04</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.035</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <hardware>
        <plugin>picknik_mujoco_ros/MujocoSystem</plugin>
        <param name="mujoco_model">$(arg mujoco_model)</param>
        <param name="mujoco_model_package">dual_arm_sim</param>
        <param name="render_publish_rate">10</param>
        <param name="tf_publish_rate">60</param>
        <param name="mujoco_keyframe">default</param>
        <param name="mujoco_viewer">$(arg mujoco_viewer)</param>
      </hardware>
    </ros2_control>
</robot>
